.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
body{
    height:600px;
}
.row{
    display:flex;
}
.h-50{
    height:300px;
}
.h-25{
    height: 150px;
}
.bg-blue{
    background-color: blue;
}
.bg-green{
    background-color:green;
}
.bg-red{
    background-color:red;
}
.bg-yellow{
    background-color:yellow;
}
.bg-orange{
    background-color: orange;
}
.bg-violet{
    background-color: violet;
}
.row1{
    height: 150px;
}
.row2{
    height: 300px;
}
.row3{
    height: 150px;
}
section{
    margin:20px auto;
    border:2px solid black;
}
[class*="col-"]{
    border:1px solid black;
}
